<footer class="bg-dark">
    <div class="row">
        <div class="col col-md-4 text-light text-center mt-4">
        <h4>Informations générales</h4>
            <ul class="list-unstyled">
                <li>A</li>
                <li>B</li>
                <li>C</li>
            </ul>
        </div>

        <div class="col col-md-4 text-light text-center mt-4">
            <h4 class="text-align-center">Adresse</h4>
        </div>

        <div class="col col-md-4 text-light text-center mt-4">
            <img src="image/admin.png" alt="logo administration" class="logo">
        </div>

    </div>

</footer>