<nav class="navbar navbar-expand-lg sticky-top ">
  <a class="navbar-brand" href="#" id="titreHeader" >
    <img src="/image/logo2.png" alt="logo de la maison du pieds noirs accueil" class="logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item m-1">
        <a class="nav-link text-light" href="#">Bonjour, Bernard!</a>
      </li>
      <li class="nav-item m-1">
        <a class="nav-link text-light" href="#">Déconnexion</a>
      </li>
    </ul>
  </div>
</nav>


