<nav class="navbar navbar-expand-lg sticky-top ">
  <a class="navbar-brand" href="#" id="titreHeader" >
    <img src="/image/logo2.png" alt="logo de la maison du pieds noirs accueil" class="logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item m-1">
        <a class="nav-link text-light" href="#">Bureau</a>
      </li>
      <li class="nav-item dropdown m-1">
        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Statut assemblée générale
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item m-1">
        <a class="nav-link text-light" href="#">Programme</a>
      </li>
      <li class="nav-item m-1">
        <a class="nav-link text-light" href="#">Cérémonies</a>
      </li>
      <li class="nav-item m-1">
        <a class="nav-link text-light" href="#">Recettes</a>
      </li>
      <li class="nav-item m-1">
        <a class="nav-link text-light" href="#">Archives</a>
      </li>
      <li class="nav-item m-1">
        <a class="nav-link text-light border border-info rounded" href="#">Contact</a>
      </li>
    </ul>
  </div>
</nav>
<div id="header"></div>

