
<div class="sidebar">
  <a class="active" href="#home">Accueil</a>
  <a href="#news">Bureau</a>
  <a href="#contact">Statut assemblée générale</a>
  <a href="#about">Programme</a>
  <a href="#about">Cérémonie</a>
  <a href="#about">Recette de cuisine</a>
  <a href="#about">Contact</a>
</div>
